.partei {
	max-width: 1080px;
	margin-left:  20px;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	color: #fff;
	font-size: 14px;
	letter-spacing: 0.8px;
	line-height: 28px;	
}