/* Base Reset */
* {
	box-sizing: border-box;
  }
  
  /* Body */
  body {
	font-family: 'Inter', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	background-color: #fff;
  }
  
  /* Headings */
  h1, h2, h3 {
	text-transform: uppercase;
	font-family: 'Inter', sans-serif;
	color: #000;
  }
  h1 {
	font-size: 2.8rem;
	letter-spacing: 0.3rem;
	font-weight: 700;
  }
  h2 {
	font-size: 43px;
	letter-spacing: 0.25rem;
	font-weight: 700;
  }
  h3 {
	font-size: 21px;
	letter-spacing: 0.15rem;
	font-weight: 500;
  }
  strong {
    font: 700 'Inter', sans-serif;
    color: #312682;
  }
  
  /* Paragraphs */
  p {
	font-size: 14px;
	letter-spacing: 0.8px;
	line-height: 1.75;
  }
  
  /* Links */
  a {
	color: #000;
	font-weight: 400;
	font-size: 16px;
  }
  a:hover {
	text-decoration: none;
	color: #fff;
  }
  
  /* Navbar */
  nav {
	background-color: #6F6A6A;
  border-radius: 5px;
  }
.navbar {
  margin-bottom: 5px;
}
  .navbar a {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
  }

  .navbar-dark .navbar-nav .nav-link {
	font-size: 18px;
	padding: 0.5rem 1rem;
  color: #fff;
  }
  .navbar-dark .navbar-nav .nav-link:hover {
    font-family: 700 'Inter', sans-serif;
  }

  .navbar-nav .nav-link.active {
	background-color: #312682;
	color: #fff;
	border-radius: 5px;
  }
  
  /* Header Image */
  #headerImage {
	width: 100%;
	height: auto;
  border-radius: 5px;
  }
  
  /* Sections */
  .primm, .secc {
	padding: 70px 0;
  margin: 15px 15px;
  border-radius: 5px;
  }
  .primm {
	background-color: #fff;
  }
  .secc {
	background-color: #6F6A6A;
  }
  .secc,
  .secc h2,
  .secc h3,
  .secc p {
	color: #fff;
  }
  
  /* Button Overrides */
  .btn-primary {
	background-color: #312682;
	color: #fff;
	border-color: #312682;
  border-radius: 5px:
  }
  .btn-primary:hover {
	background-color: #fff;
	color: #312682;
	border-width: 2px;
	border-radius: 5%;
  border-radius: 5px;
  }
  
  /* Footer */
  footer {
	padding: 25px 0;
  }
  footer .btn {
	background-color: #312682;
	color: #fff;
  }
  footer .btn:hover {
	background-color: #fff;
	color: #312682;
	border-width: 2px;
	border-radius: 5%;
  }
  
  /* Inset Box */
  .inset {
	background-color: #312682;
	color: #fff;
	max-width: 720px;
	margin: 0 auto;
	text-align: center;
	width: 40%;
	padding: 10px;
  border-radius: 5px;
  }
  
  /* Termine Poster */
  .terminePoster {
	display: flex;
	justify-content: center;
	align-items: center;
  }
  .terminePoster > img {
	width: 75%;
  }
  
  /* Utility for Repertoire List */
  #repertoireList {
	max-width: 720px;
	margin: 0 auto;
  border-radius: 5px;
  }
  
  /* Footer Links */
  .footerlink {
	text-decoration: none;
	margin: 20px 5%;
  }
  .footerlink:hover {
	color: #6F6A6A;
  }
  
.play-btn {
    margin: 0px 5px;
    color:#312682;
    border-color:#312682;
  }
.play-btn:hover {
  background-color: #312682;
  color: #fff;
  border-color: #fff;
}